
  body {
    background: linear-gradient(to bottom right, #bdbaba, #8a8484);
    background-image: url(../images/profilebg.png);

  }
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile-container {
    max-width: 700px !important;
    margin: 40px auto !important;
    padding: 20px !important;
    background: #A1D6E2 !important;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
.profile-pic {
    display: block !important;
    margin: 0 auto !important;
    width: 120px !important;
    height: 120px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}
.btn-save {
    background: #1995AD !important;
    color: #ffffff !important;
}
.btn-save:hover {
    background: #da1d1a !important;
    color: rgb(255, 255, 255) !important;
}

/* Footer Section */

footer {
    background-color: #13768a;
    color: white;
    padding: 40px 60px;
    font-family: Arial, sans-serif;
}

/* Top Section */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #4A5B65;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.footer-logo h1 {
    font-size: 50px;
    font-weight: bold;
}

.footer-description {
    width: 50%;
    font-size: 14px;
    line-height: 1.6;
}

.footer-contact p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

/* Bottom Section */
.footer-bottom {
 
    padding: 30px 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}
.footer-logo{
    border-radius: 10%;
}