<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_event.css') }}">
</head>
<body>
    {% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="extra"></div>
    <h2 class="mt-4">Edit Event</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Event Name</label>
            <input type="text" class="form-control" name="name" value="{{ event.name }}" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" name="category" value="{{ event.category }}" required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="location" value="{{ event.location }}" required>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" name="date" value="{{ event.date }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" required>{{ event.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="image_url" class="form-label">Image URL</label>
            <input type="text" class="form-control" name="image_url" value="{{ event.image_url }}"> 
            <!-- accept="image/*" -->
        </div>
        
     
        <button type="submit" class="btn btn-success">Update Event</button>
        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}

</body>
</html>